<!DOCTYPE html>
<html ng-app>
    <head>
        <meta charset="utf-8" />
        <title>WebSocket Test</title>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
        <script src="@routes.Assets.at("javascripts/chatApp.js")"></script>
    </head>
    <body>
        <h2>WebSocket Chat</h2>
        <div ng-controller="ChatCtrl">
            <ul>
                <li ng-repeat="message in messages">{{message}}</li>
            </ul>
            <form ng-submit="sendMessage()">
                <input type="text" ng-model="messageText" placeholder="Type your message here" />
                <input type="submit" value="Send" />
            </form>
        </div>
    </body>
</html>